# Limpieza

In [2]:
import pandas as pd

# Cargar el CSV en un DataFrame
df_2019 = pd.read_csv('../data/raw/2019.csv')  

# Configurar pandas para mostrar más filas y columnas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Mostrar las primeras filas para exploración inicial
df_2019.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
# Eliminar columnas innecesarias (suponiendo que algunas no son útiles para el análisis)
columns_to_drop = ['Social support']

df_2019 = df_2019.drop(columns=columns_to_drop)

# Verificar las primeras filas después de eliminar las columnas
print("Después de eliminar columnas innecesarias:")
# Configurar pandas para mostrar más filas y columnas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

df_2019.head(5)

Después de eliminar columnas innecesarias:

,Overall rank,Country or region,Score,GDP per capita,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,0.999,0.557,0.322,0.298

In [4]:
# Normalización de nombres de columnas
df_2019.rename(columns={
    'Overall rank': 'Happiness_Rank',
    'Country or region': 'Country',
    'Score': 'Happiness_Score',
    'GDP per capita': 'GDP_per_Capita',
    'Healthy life expectancy': 'Healthy_life_expectancy',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Perceptions_of_corruption'
}, inplace=True)

# Mostrar las primeras filas después de renombrar las columnas
print("\nPrimeras filas después de renombrar columnas:")
# Configurar pandas para mostrar más filas y columnas
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# Mostrar las primeras filas para exploración inicial
df_2019.head(5)

Primeras filas después de renombrar columnas:

,Happiness_Rank,Country,Happiness_Score,GDP_per_Capita,Healthy_life_expectancy,Freedom,Generosity,Perceptions_of_corruption
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,0.999,0.557,0.322,0.298

In [5]:
# Revisar la cantidad de valores nulos por columna
print("\nValores nulos por columna:")
print(df_2019.isnull().sum())

Valores nulos por columna:
Happiness_Rank               0
Country                      0
Happiness_Score              0
GDP_per_Capita               0
Healthy_life_expectancy      0
Freedom                      0
Generosity                   0
Perceptions_of_corruption    0
dtype: int64

In [6]:
# Verificar si hay filas duplicadas
duplicados = df_2019.duplicated().sum()
print(f"Filas duplicadas: {duplicados}")

# Si hay duplicados, imprimir las primeras filas duplicadas
if duplicados > 0:
    print("\nPrimeras filas duplicadas:")
    print(df_2019[df_2019.duplicated()].head())

Filas duplicadas: 0

In [7]:
df_2019.to_csv('../data/clean/2019_clean.csv', index=False)
print("archivo guardado exitosamente.")

archivo guardado exitosamente.

# Analisis